html {
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    color: blue;
    background-color: lightgray;
}

#mappy {
    height: 90%;
}


#header {
    display: block;
    color: lightgray;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: black;
}

#sidebar {
    padding-top: 20px;
}


